{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "jsxBracketSameIndent": true,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
